body::-webkit-scrollbar {
  background: rgb(251, 99, 84);
}
body::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

/* section 1 */
.s1-a {
  color: black;
}
.s1-a:hover {
  color: rgb(251, 88, 73);
}
/* section 2 */
.section2 {
  width: 100%;
  height: 100%;
  background-image: url(img/top-left-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* section 4 */
.s4-d {
  position: relative;
}
.s4-d1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(251, 99, 84, 0.8);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}
.s4-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.s4-d:hover .s4-d1 {
  height: 80%;
}
.s4-img {
  display: block;
  width: 100%;
  height: auto;
}
/* section 5 */
.s5-d {
  position: relative;
}
.s5-img {
  opacity: 1;
  display: block;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.s5-d1 {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.s5-text {
  font-size: 25px;
}
.s5-d:hover .s5-img {
  opacity: 0.3;
}

.s5-d:hover .s5-d1 {
  opacity: 1;
}
.s5-span {
  background-color: white;
}
.s5-span:hover {
  background-color: rgb(251, 88, 73);
}
.f {
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 16px;
  padding-bottom: 16px;
}
/* section 6 */
.section6 {
  width: 100%;
  height: auto;
  background-image: url(img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* section 7 */
.col-71 {
  display: none;
}
.col-72 {
  display: none;
}
/* footer */
.f8 {
  font-size: 15px;
}

/*  */
